html {
    background-color: #FFD0FB;
}

img {
    width: 32px;
    height: 32px;

    &:hover {
        cursor: pointer;
    }
}

button {
    border: none;
    background: none;
    font-size: x-large;
    height: 32px;

    &:hover {
        cursor: pointer;
    }
}